export type AppEnvType = {
  DATABASE_TYPE: "mysql" | "mariadb"
  DATABASE_HOST: string,
  DATABASE_PORT: number,
  DATABASE_USERNAME: string,
  DATABASE_PASSWORD: string,
  DATABASE_NAME: string
}

export default {
  DATABASE_TYPE: "mysql",
  DATABASE_HOST: "localhost",
  DATABASE_PORT: 3306,
  DATABASE_USERNAME: "test",
  DATABASE_PASSWORD: "test",
  DATABASE_NAME: "test",
} as AppEnvType;